<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title: {{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>this is the about page</p>
    {{> footer}}
</body>
</html>