<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title: {{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <h1>Portfolio coming soon</h1>
    {{message}}
    {{> footer}}
</body>
</html>